In [19]:
import pandas as pd
# import typing

In [7]:
df = pd.read_csv('../data/01_raw/companies.csv')
df.head()

,id,company_rating,company_location,total_fleet_count,iata_approved
0,35029,100%,Niue,4.0,f
1,30292,67%,Anguilla,6.0,f
2,19032,67%,Russian Federation,4.0,f
3,8238,91%,Barbados,15.0,t
4,30342,NaN,Sao Tome and Principe,2.0,t

In [10]:
df['total_fleet_count'].mean()

30.47369923075925

In [22]:
def get_mean(df: pd.DataFrame, col: str)->float:
    return df[col].mean()

In [23]:
get_mean(df, 'total_fleet_count')

30.47369923075925